:root {
  --heading-font: "Montserrat", sans-serif;
  --body-font: "Poppins", sans-serif;
  --accent-colour-dark: #157a73;
  --accent-colour-light: rgb(60, 179, 171);
  --text-colour: #6c6c6c;
}

.primary-button {
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 999px;
  font-family: var(--body-font);
  letter-spacing: 0.08em;
  color: white;
  background-color: var(--accent-colour-light);
  text-transform: uppercase;
}

.primary-button:hover {
  cursor: pointer;
  background-color: var(--accent-colour-dark);
  transition: 0.2s ease-in-out;
}
